<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content" role="main">
        <nav>
          <ul>
            <li><a routerLink="home"  routerLinkActive="active">List Data</a></li>
  
            <li><a routerLink="borrow" routerLinkActive="active">Borrow</a></li>
  
            <li><a routerLink="return" routerLinkActive="active">Return</a></li>
  
            <li><a routerLink="add" routerLinkActive="active">Restock & Add</a></li>
            <li style="float:right"><a routerLink="about" routerLinkActive="active">About</a></li>
          </ul>
        </nav>
      </div>
    
</body>
</html>
