<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="content" role="main">
      <nav>
        <ul>
          <li><a routerLink="">List Data</a></li>

          <li><a routerLink="borrow">Borrow</a></li>

          <li><a routerLink="return">Return</a></li>

          <li><a routerLink="add">Restock & Add</a></li>
        </ul>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>
