<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit Student</title>
</head>
<body>
    <h1>Edit Student</h1>
    <form action="/saveEdit" method="post">
        <input type="hidden" name="index" th:value="${index}">
        <label for="editedName">Name:</label>
        <input type="text" id="editedName" name="editedName" th:value="${student[0]}"><br>
        <label for="editedScore">Score:</label>
        <input type="text" id="editedScore" name="editedScore" th:value="${student[1]}"><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>